@import "../../assets/styles/breakpoints";
@import "../../assets/styles/colors";
@import "../../assets/styles/variables";
@import "../../assets/styles/buttons";
@import "../../assets/styles/layout";
@import "../../assets/styles/themes";

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.todoLists {
    &__base {
        background: var(--background-color);
        padding: 48px 0;
        border-radius: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include lg {
            padding: 24px 0;
        }
    }

    &__logo {
        width: 300px;
        height: auto;
        display: block;
        margin: 0 auto;

        @include lg {
            width: 700px;
        }
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;

    @include lg {
        flex-direction: row;
    }

    &__filter-container {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;

        @include lg {
            justify-content: space-between;
        }
    }

    &__filter-controls {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    li {
        list-style: none;
    }

    .tab {
        padding: 10px 20px;
        background-color: var(--text-color);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: var(--background-color);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;

        &:hover {
            background-color: var(--primary-color);
        }

        &.active {
            background-color: var(--primary-color);
            color: var(--background-color);
        }
    }

    .btn--icon {
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        background-color: var(--primary-color);
        color: var(--background-color);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        &:hover {
            background-color: var(--text-color);
        }
    }
}

.theme-toggle-btn {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--text-color);
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

.todoList {
    &__base {
        width: 100%;
    }

    &__list {
        list-style-type: none;
        border-radius: 48px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        background-color: var(--secondary-bg-color);
        padding: 48px 24px;
    }

    &__btn {
        padding: 10px 20px;
        border-radius: 8px;
        margin-left: 14px;
    }
}

.todoItem {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    background-color: var(--background-color);
    border-radius: 48px;

    @include lg {
        grid-template-columns: 1fr 1fr 1fr 1fr auto;
    }

    span {
        text-align: center;
    }

    &__actions {
        display: flex;
        gap: 10px;
        justify-content: center;

        @include lg {
            margin-right: 10px;
            justify-content: flex-end;
        }
    }

    &.completed {
        background-color: var(--completed-color);
    }

    &__icon {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}

.toDo-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.modal {
    background: var(--modal-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todoItem__actions .btn--icon {
    margin-left: 10px;
}

.todoForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.tags {
    &__input-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }

    &__item {
        background-color: #e0e0e0;
        padding: 5px 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 5px;

        button {
            background: none;
            border: none;
            cursor: pointer;
            color: #888;
        }
    }

    &__input {
        flex: 1;
        min-width: 150px;
    }
}
